<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="./styles.css" type="text/css">
    <script src="./profile.js" defer></script>
</head>
<body>
    
    <div class="body">
        <div class="maincard">
            <div class="back">
                <img src="./icons8-undo-96.png">
                <p>Back</p>
            </div>
            <div class="top">
                <div class="header">
                    <img src="./icons8-male-user-96.png">
                    <div class="details1">
                        <p><%= data.username %></p>
                        <p><%= data.handle %></p>
                    </div>
                </div>
            </div>
            <div class="bottom1">
            <div class="bio">
                <p>Bio</p>
                <p><%= data.bio %></p>
            </div>
            <div class="work">
                <p>Works At</p>
                <p><%= data.work %></p>
            </div>
            <div class="numbers">
                <div class="left">
                    <p>Repositories</p>
                    <p><%= data.repos %></p>
                </div>
                <div class="right">
                    <p>Followers</p>
                    <p><%= data.followers %></p>
                </div>
            </div>
            <p class="pinned">Pinned Repositories</p>
            <% data.repositories.forEach(ele => { %>
            <div class="smallcard1">
                <img src="./icons8-male-user-96.png">
                <div class="details2">
                    <p><%= ele.name %></p>
                    <p><%= ele.desc %></p>
                </div>
            </div>
            <% }); %>
            <!-- <div class="smallcard1">
                <img src="./icons8-male-user-96.png">
                <div class="details2">
                    <p>username/reponame</p>
                    <p>Description</p>
                </div>
            </div> -->
        </div>
    </div>

</body>
</html>