*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 20px;
}
/* ::-webkit-scrollbar-thumb:hover{
    background-color: aliceblue;
} */

.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    overflow: hidden;
}

.maincard{
    position: relative;
    width: 700px;
    height: 98vh;
    /* min-height: 90vh; */
    /* margin-top: 20px; */
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,1);
}

.top{
    display: flex;
    flex-direction: column;
    padding: 50px 50px 20px 50px;
    background-color: rgba(128, 128, 128,0.1);
    height: 30vh;
    justify-content: space-evenly;
}

.title{
    display: flex;
    justify-content: start;
    align-items: center;
}
.title img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.title p{
    font-size: 1.5em;
    margin-left: 20px;
    color: grey;
    font-family: sans-serif;
}

.search{
    background-color: #4fc3f7;
    width: 400px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    margin-top: 20px;
}
.search input{
    border: none;
    width: 250px;
    height: 30px;
    font-size: 0.8em;
    font-family: sans-serif;
    background-color: #4fc3f7;
    color: white;
}
.search input::placeholder{
    color: rgba(255,255,255,0.8);
}
.search input:focus{
    outline: none;
}
.search img{
    width: 22px;
    height: auto;
}
.search img:nth-child(3){
    cursor: pointer;
}

.bottom{
    width: 100%;
    height: 63vh;
    display: flex;
    justify-content: center;
    padding: 15px 50px 10px 50px;
    align-items: center;
}
.container{
    width: 100%;
    height: 95%;
    position: relative;
    /* background-color: grey; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
    grid-template-rows: 110px;
}
.nores{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    color: black;
    font-size: 1.2em;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallcard{
    width: 90%;
    margin-left: 18px;
    margin-bottom: 10px;
    height: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,1);
    display: flex;
    justify-content: space-around;
    align-items: start;
    cursor: pointer;
}
.smallcard img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    /* background-color: #4fc3f7; */
}
.details{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 12px;
    padding-bottom: 12px;
}
.details p{
    color: black;
    font-family: sans-serif;
}
.details p:nth-child(1){
    font-size: 0.9em;
}
.details p:nth-child(2){
    font-size: 0.7em;
    color: grey;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close.none{
    display: none;
}

.loader{
    width: 20px;
    height: 20px;
    /* position: absolute; */
    /* bottom: 20px; */
    /* left: 50%; */
    /* transform: translate(-50%,0); */
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid #4fc3f7;
    border-right: 2px solid white;
    border-radius: 50%;
    animation: loader 1s linear 0s infinite normal forwards;
}
.loader.none{
    display: none;
}
@keyframes loader{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}


.back{
    position: absolute;
    top: 20px;
    left: 60px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.back img{
    width: 15px;
    height: auto;
}
.back p{
    color: black;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 500;
}

.header{
    position: absolute;
    left: 60px;
    top: 85px;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header img{
    width: 80px;
    height: auto;
}
.details1{
    height: 100%;
    width: 70%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.details1 p{
    font-size: 1.8em;
    color: black;
    font-family: sans-serif;
}
.details1 p:nth-child(2){
    font-size: 1em;
}

.bio{
    width: 100%;
    height: 110px;
    padding: 30px 70px 10px 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: grey; */
}
.bio p:nth-child(1),.work p:nth-child(1),.left p:nth-child(1),.right p:nth-child(1),.pinned{
    font-size: 0.8em;
    font-family: sans-serif;
    color: gray;
}
.bio p:nth-child(2),.work p:nth-child(2),.left p:nth-child(2),.right p:nth-child(2){
    padding-top: 10px;
    font-size: 0.8em;
    font-family: sans-serif;
    color: black;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    text-align: justify;
}

.work{
    width: 100%;
    height: 80px;
    padding: 30px 70px 10px 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.numbers{
    width: 100%;
    height: 100px;
    padding: 30px 70px 10px 70px;
    display: flex;
}
.left,.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.right{
    padding-left: 70px;
}

.pinned{
    padding-left: 70px;
}

.smallcard1{
    width: 80%;
    margin-left: 70px;
    margin-top: 10px;
    height: 80px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.smallcard1 img{
    width: 50px;
    height: 50px;
}
.details2{
    width: 80%;
    height: 100%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.details2 p:nth-child(1){
    color: grey;
    font-size: 0.9em;
    font-family: sans-serif;
}
.details2 p:nth-child(2){
    color: black;
    font-size: 0.8em;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom1{
    position: relative;
    width: 100%;
    height: 63vh;
    overflow: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* padding: 15px 50px 10px 50px; */
    /* align-items: center; */
}
.none{
    display: none;
}




@media screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
    }
    .search{
        width: 300px;
    }
    .search input{
        width: 150px;
    }
    .top{
        padding: 50px 30px 20px 30px;
    }
    .bottom{
        padding: 15px 30px 10px 30px;
    }
    .maincard{
        width: 100%;
        height: 100%;
        margin-top: 0;
        overflow: hidden;
    }
    .body{
        overflow: hidden;
    }
    .back,.header{
        left: 30px;
    }
    .bio,.work,.numbers,.pinned{
        padding: 30px 30px 10px 30px;
    }
    .right{
        padding-left: 40px;
    }
    .smallcard1{
        width: 82%;
        margin-left: 30px;
    }
}